<h1>
  Payment Results
</h1>

<p>
  APR: <%= number_to_percentage(@rate, precision: 4) %>
</p>

<p>
  Number of years: <%= @years %>
</p>

<p>
  Principal: <%= number_to_currency(@principal) %>
</p>

<p>
  Payment: <%= number_to_currency(@payment) %>
</p>

<a href="<%= @opt_url %>">
  Calculate another payment
</a>
